# Бот
BOT_TOKEN=ваш_токен_бота_от_BotFather
ADMIN_GROUP_CHAT_ID=-1001234567890

# База данных
DATABASE_URL=postgresql://bot_user:strong_password_here@postgres:5432/telegram_bot

# Site
BOT_API_KEY
SITE_DOMAIN